:root {
  --background_color: #1E1E24;
  --background_secondary_color: #444140;
  --text_color: #E5DAD7;
  --main_color: #E54B4B;
  --secondary_colo: #FFA987;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background_color);
  margin: 0;
  padding: 0;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}


#american_map {
  align-self: center;
  background-color: var(--background_color);
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;
  height: 100%;
}

#american_map path {
  opacity: 0;
  fill: var(--background_secondary_color);
}

#demographic_chart {
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 20rem;
  padding: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  width: 70rem;
  text-align: center;
  vertical-align: middle;
}

.demographic_chart_bar {
  position: absolute;
  bottom: 0;
  width: 4rem;
  margin: 0;
  margin-left: 0.5rem;
  margin-bottom: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: var(--background_secondary_color);
}

svg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#buildings {
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 2rem;
  display: none;
  flex-wrap: wrap;
  width: 70rem;
}

.building {
  width: 10rem;
  height: 20rem;
  padding: 0;
  margin: auto;
}

#drug_chart {
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 20rem;
  display: none;
  flex-wrap: wrap;
  width: 70rem;
  margin-bottom: 10rem;
  padding-bottom: 10rem;
}

.chart_demo {
  display: flex;
  flex-wrap: wrap;
  width: 8rem;
  margin: auto;
  margin-top: 0;
}
.chart_demo_big {
  display: flex;
  flex-wrap: wrap;
  width: 18rem;
  margin: auto;
  margin-top: 0;
}
.graph_block {
  width: 2.5rem;
  height: 3rem;
  opacity: 0;
  margin-left: -0.5rem;
  padding: 0;
  background-color: transparent;
}

#people_equivalent {
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: var(--background_secondary_color);
  margin: 0;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
  margin-top: 15rem;
  display: none;
}
.figure {
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  opacity: 0;
  opacity: 1;
  fill: var(--background_secondary_color);
  display: none;
  margin: 0;
  margin-left: 0.5rem;
  margin-bottom: 0;
  padding: 0;
  margin-top: 15rem;
}

#young_people_graph {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 20rem;
  display: flex;
  flex-wrap: wrap;
  width: 75rem;
  margin-bottom: 10rem;
}
.young_graph_bar {
  display: flex;
  flex-wrap: wrap;
  width: 6rem;
  margin: auto;
  margin-top: 0;
}

.bar_container {
  display: flex;
  flex-wrap: wrap;
  width: 13rem;
  margin: auto;
  margin-top: 0;
}
.text_area {
  display: block;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: var(--text_color)
}

.stock_image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
